Source: call
Section: comm
Priority: extra
Maintainer: Sung Joon Won <sungjoon.won@samsung.com>, SHUAIB SHUKUR <shuaib.s@samsung.com>, Goo Lee <goo81.lee@samsung.com>
Uploaders: Sung Joon Won <sungjoon.won@samsung.com>, SHUAIB SHUKUR <shuaib.s@samsung.com>, JongSeok Lee <js49.lee@samsung.com>, Yountaek Oh <ohyt@samsung.com>, Goo Lee <goo81.lee@samsung.com>
Build-Depends: debhelper (>= 5),
               autotools-dev,
               libappcore-efl-dev,
               libelm-dev, 
               libslp-tapi-dev,
               libslp-setting-dev,
               libcontacts-service-dev,
               libui-gadget-dev,
               libslp-utilx-dev,
               libmm-sound-dev,
               libmm-player-dev,
               libslp-pm-dev,
               libaul-1-dev,
               libdevman-haptic-dev,
               libmm-camcorder-dev,
               libmm-session-dev,
               dlog-dev,
               libslp-sensor-0,
               libslp-sysman,
               libslp-msg-service-dev,
               libicu-dev,
               libappsvc-dev,
               libnotification-dev,
               libug-contacts-dev (>= 0.1.0-31),
Standards-Version: 3.7.2

Package: org.tizen.call
Section: comm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: call application

Package: org.tizen.call-dbg
Section: comm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: call application (unstripped)
